@use 'sass:color';
@import 'settings/variables';

:host {
  background: $font-color-light;
  border-top-left-radius: 20px;
  box-shadow: 2px 31px 30px 20px rgba(0, 0, 0, 0.15);
  color: $primary;
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20%;
  min-width: 411px;
  overflow-y: scroll;
  z-index: 9999;
}

.sidenav {
  padding: 50px 40px;

  .trend_actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .title {
      color: rgb(80, 80, 80);
      margin-bottom: 0;
    }

    button {
      border: none;
      cursor: pointer;
      font-size: 12px;
      padding: 10px 20px;

      &.principal {
        background-color: rgba(241, 95, 65, 1);
        border-radius: 3px;
        color: rgba(255, 255, 255, 1);
      }

      &.secundario {
        background: transparent;
        color: rgba(147, 147, 147, 1);
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }

  .trend_field {
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    label {
      color: rgba(80, 80, 80, 1);
      font-size: 12px;
      font-weight: 600;
    }

    input,
    textarea {
      border: 0.6px solid rgba(216, 216, 216, 1);
      border-radius: 5px;
      padding: 10px;

      &::placeholder {
        color: rgba(216, 216, 216, 1);
      }
    }

    input {
      height: 46px;
    }

    textarea {
      min-height: 402px;
    }
  }
}