<div id="mySidenav" class="sidenav">
    <form [formGroup]="postForm">
        <div class="trend_actions">
            <h4 class="title">{{isToUpdate ? 'Editar la' : 'Nueva'}} noticia</h4>
            <div>
                <button class="secundario" (click)="closeModal()">Cancelar</button>
                <button class="principal" [disabled]="postForm.invalid" (click)="savePost()">Guardar</button>
            </div>
        </div>
        <div class="trend_field">
            <label>URL</label>
            <input type="text" 
                formControlName="url" 
                placeholder="www.post.com" />
        </div>
        <div class="trend_field">
            <label>Autor</label>
            <input type="text" 
                formControlName="provider" 
                placeholder="Manuel Gómez" />
        </div>
        <div class="trend_field">
            <label>Titulo</label>
            <input type="text" 
                formControlName="title" 
                placeholder="Manuel Rodriguez" />
        </div>
        <div class="trend_field">
            <label>Contenido</label>
            <textarea type="text" 
                formControlName="body"
                placeholder="Escribe aquí..."></textarea>
        </div>
    </form>
</div>